@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(44, 41, 41);
}

* {
    box-sizing: border-box;
    outline: 0;
    border-radius: 10px;
}

body {
    background-image: url('C:/a_workspace_ads/d_curso_js/secao_3_logica/exercicio_44/assets/img/background.avif');
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 30px auto;
    background-color: #ffffffbb;
    padding: 20px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
    border: 0;
    border-bottom: 5px solid #000000bd;
}

form input:focus{
    outline: 1px solid #000000bd;
    transform:translate(10px);
}

form button {
    border: none;
    background: rgba(13, 13, 68, 0.726);
    color: #ffffff6b;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(13, 13, 68);
}

.table {
    border-radius: 10px;
    border-bottom: 5px solid #000000bd;
    border-right: 5px solid #000000bd;
    text-align: justify;
}

.result-true {
    background-color: rgba(2, 78, 25, 0.699);
    padding: 5px;
    font-weight: bold;
}

.result-false {
    background-color: rgba(122, 6, 6, 0.699);
    padding: 5px;
    font-weight: bold;
}