@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    background-image: url('https://img.freepik.com/fotos-gratis/conceito-de-fitness-com-estetoscopio_23-2147692005.jpg?w=2000');
    background-size: contain;
    background-repeat: round;
    background-color: #076b7cb7;
    background-clip: content-box;
    display: flex;
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    justify-content: center;
    align-items: center;
    text-align: justify;
    height: fit-content;
}

h1 {
    text-align: justify;
    padding-left: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-flow:column;
    box-sizing: border-box;
    margin: 16px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.747) 0px 5px 10px;
    background-color: #ffffff59;
    justify-content: space-around;
    border-radius: 20px;
}

.table {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    table-layout: auto;
    width: auto;
    white-space: nowrap;
    margin: 20px;
    padding: 10px;
    border: groove 1px #111111;
    border-radius: 10px;
    border-bottom: 5px solid #000000bd;
    border-right: 5px solid #000000bd;
    justify-content:baseline;
    align-items: flex-end;
    text-align: justify;
    font-size: smaller;
}

#execution {
    width: auto;
    height: auto;
    text-align: left;
    margin: 0 20px;
    padding: 10px;
    white-space: nowrap;
}

#execution h4 {
    text-align: center;
}

#execution .img  {
    white-space: nowrap;
}

#form {
    display: flex;
    flex-direction: column;
    flex-flow:column;
    box-sizing: border-box;
}


#form input, label, button {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

#form input {
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    border: 0;
    border-bottom: 3px solid #000000bd;
    border-right: 3px solid #000000bd;
}

#form input:focus{
    transition: 0.2s;
    transform: scale(1.02);
    outline: 0;
}

#form button {
    width: 104%;
    padding: 5px;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background: rgba(13, 13, 68, 0.726);
    color: #fffffff3;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    
}

#form button:hover {
    background-color: rgb(13, 13, 68);
}

.result-true {
    background-color: rgba(2, 78, 25, 0.699);
    color: #ffff;
    margin: 5px 20px;
    padding: 2px;
    font-weight: bold;
    font-size: smaller;
    border-radius: 10px;
    text-align: center;
}

.result-false {
    background-color: rgba(122, 6, 6, 0.699);
    color: #ffff;
    margin: 5px 20px;
    padding: 2px;
    font-weight: bold;
    font-size: smaller;
    border-radius: 10px;
    text-align: center;
}

#ideal-weight {
    background-color: rgba(255, 255, 255, 0.705);
    margin: 5px 20px;
    padding: 2px;
    font-weight: bold;
    font-size: smaller;
    border-radius: 10px;
    text-align: center;
}

.hide {
    display: none;
}

@media (min-widht: 500px) and (max-width: 1000px){
	.container {
		box-sizing: border-box;
        margin: 16px;
    }
    body {
        background-position: center;
    }
}
