@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(44, 41, 41);
}

* {
    box-sizing: border-box;
    outline: 0;
    border-radius: 10px;
}

body {
    background-image: url('https://img.freepik.com/fotos-gratis/conceito-de-fitness-com-estetoscopio_23-2147692005.jpg?w=2000');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #076b7cb7;
    margin-top: 10vh;
    padding: 5px;
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: max-content;
    margin: 30px;
    background-color: #ffffffbb;
    padding: 20px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
    border: 0;
    border-bottom: 5px solid #000000bd;
}

form input:focus{
    outline: 1px solid #000000bd;
    transform:translate(10px);
}

form button {
    border: none;
    background: rgba(13, 13, 68, 0.726);
    color: #ffffff6b;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(13, 13, 68);
}

.table {
    table-layout:fixed;
    width: auto;
    word-wrap:break-word;
    margin: 10px;
    border: groove 1px #111111;
    border-radius: 10px;
    border-bottom: 5px solid #000000bd;
    border-right: 5px solid #000000bd;
    justify-content: right;
    align-items: flex-end;
    text-align: justify;
    font-size: smaller;
    padding: 2px;
}

.index {
    border-right: #111111 2px solid;
    padding-right: 50px;
}

.result-true {
    background-color: rgba(2, 78, 25, 0.699);
    padding: 5px;
    font-weight: bold;
}

.result-false {
    background-color: rgba(122, 6, 6, 0.699);
    padding: 5px;
    font-weight: bold;
}
